<!DOCTYPE html>
<html>
  <head>
    <title>401</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <a hef="/login">Retour à l'accueil</a>
  </body>
</html>
